<a href="https://colab.research.google.com/github/xtructt/z2m-ML/blob/master/Scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Scikit-Learn
This notebook demonstrates some of the most useful functionss of the beautiful Scikit-Learn library.
What we're going to cover:
0. An end-to-end Scikit-Learn workflow
1. Geting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/elgorithm and use it to make predictions on ouor data
4. Evaluating a model
5. Improvce a model
6. Save and load a trained model
7. Putting it all together

## 0.An end-to-end Scikit-Learn workflow

In [2]:
import pandas as pd

In [4]:
#1. get the dat ready

file = "https://raw.githubusercontent.com/xtructt/z2m-ML/master/Resources/zero-to-mastery-ml-master/data/heart-disease.csv"
heart_disease = pd.read_csv(file)
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [5]:
#Create X (Features matrix)
x = heart_disease.drop("target", axis=1)
#Create Y (Labels)
y = heart_disease["target"]