In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [4]:
car_sales = pd.read_csv('car-sales.csv')

In [6]:
pd.crosstab(car_sales['Make'],car_sales['Doors'])

Doors   3  4  5
Make
BMW     0  0  1
Honda   0  3  0
Nissan  0  2  0
Toyota  1  3  0

In [12]:
car_sales[(car_sales['Make']=='Toyota')& (car_sales['Doors']==3)]

     Make Colour  Odometer (KM)  Doors      Price
2  Toyota   Blue          32549      3  $7,000.00